<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         version="10"
         metadata-complete="false">

    <display-name>PROFECO Quejas</display-name>


    <security-role>
        <role-name>consumidor</role-name>
    </security-role>
    <security-role>
        <role-name>comercio</role-name>
    </security-role>
    <security-role>
        <role-name>profeco</role-name>
    </security-role>
</web-app>